#pokeball{
max-height: 18rem;}
#cuerpo{
    background-color: #472020b2;
    border-radius: 5%;
    padding: 3%;
    max-height: 20rem;
    overflow: auto;
}
#pokebola{
    background-color: #472020b2;
    border-radius: 5%;
    padding: 3%;
    max-height: 20rem;
}
#container1{
    max-height: 20rem;
}
#texto2{
    background-color: #472020b2;
    border-radius: 5%;
    padding: 3%;
    max-height: 20rem;
    overflow: auto;
}
#video{
    background-color: #472020b2;
    border-radius: 5%;
    padding: 3%;;
    max-height: 20rem;

}
#video iframe{

}