[Desktop Entry]
Icon=text-html
Name=wireframe
Type=Link
URL[$e]=https://app.moqups.com/dau3NWESTY1tfBkmidgHLroBKxsBYL02/view/page/ad64222d5?fit_width=1
